.deps/
project-1-landuse-change/data/cache/
project-1-landuse-change/tmp/
__pycache__/
*.pyc

project-1-landuse-change/data/processed/earth_engine_exports/
project-1-landuse-change/data/processed/local_mirror/
project-1-landuse-change/output/image/
project-1-landuse-change/output/pdf/landuse_change_map.pdf
project-1-landuse-change/portfolio_text.md
